.form {
	display: flex;
	justify-content: center;
}

.form-wrapper {
	background-color: #fff;
	border: 2px #BF4E30 solid;
	padding: 30px;
	width: 70%;
}

.form-wrapper label {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

#primary-color, #secondary-color, #call-description, #habitat {
	margin: 30px 0;
}

#primary-color select, #secondary-color select, #call-description select, #habitat select {
	display: block;
}

.submit-button {
	background-color: #BF4E30;
	border: 2px #fff solid;
	color: #fff;
	display: table;
	font-family: 'Barrio', cursive;
	font-size: 25px;
	margin: 0 auto;
	padding: 15px;
	transition: background-color 0.5s ease;
	width: 70%;
}

.submit-button:hover {
	background-color: #fff;
	border: 2px #BF4E30 solid;
	color: #BF4E30;
	transition: background-color 0.5s ease;
}