body {
	background-color: #22333B;
	margin: 0;
}

h1, h2, h3, p, ul, ol, li, span {
	margin: 0;
}

h1, h2, h3, h4 {
	font-family: 'Barrio', cursive;
}

p, ol, ul, li, span {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 40px;
	margin-top: 50px;
	text-align: center; 
}

#nav-section {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#nav-section h1 {
	color: #5E503F;
	font-size: 60px;
}

#nav-section a {
	color: #5E503F;
}

#logo, #navigation {
	display: inline-block;
}


#navigation ul li {
	display: inline-block;
	text-align: right;
}

#navigation a {
	color: #BF4E30;
	font-size: 20px;
}

#navigation span {
	font-size: 30px;
	margin: 0 20px;
}

.container {
	background-color: #EAE0D5;
	margin: 0 10%;
	max-width: 2500px;
	padding: 50px;
}

